host: "localhost" #host is bind ip, Not domains
port: 8080
domain: web.example.com

https:
  enable: true
  port: 443
  cert: /etc/ssl/cert.pem
  key: /etc/ssl/key.pem

session:
  maxAge: 18 #day
  secure: false #true or false
  httpOnly: true #true or false
  mode: "cookie" #cookie or redis

redis:
  host: "localhost"
  port: 3675
  password: "password"


#prfix (http://yourdomain/prefix/(login or after or etc..))
prefix: "discord"

oauth2:
  client_id: "xxxxxxxxxxxxxxxxxxx"
  client_secret: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
  callback: "http://localhost:8080/discord/after"
  guild_id: "xxxxxxxxxxxxxxxxxx"
  roles:
    # (RoleName): "(RoleID)" 
    admin: "xxxxxxxxxxxxxxxxxxx"

redirect_after_login: /example1

server:
  # (serverName):
  #   location: "/app" -> http://yourdomain/app
  #   address: "http://backend/app" reverseAddress
  #   privart: true or false <- roleCheck
  #   access_roles: <- access possible roles
  #     - "admin" <- RoleName => If it was privart - ""

  example1:
    location: "/example1"
    address: "http://localhost:8081"
    privart: false
    access_roles:
      - ""

  example2:
    location: "/example2"
    address: "http://localhost:8082"
    privart: false
    access_roles:
      - ""

  example3:
    location: "/example3"
    address: "http://localhost:8083"
    privart: true
    access_roles:
      - "admin"


need_login:
  - example3


external_host_pages:
  slash_access:
    enable: false
    redirect: false
    address: http://localhost:8083

  after_logout:
    enable: false
    redirect: false
    address: http://localhost:8084


  guild_error:
    enable: true
    redirect: false
    address: http://localhost:8085

  login_error: #Discordにすらログインできていないときに出る幻のエラーです。
    enable: true
    redirect: false
    address: http://localhost:8086

  privart_error:
    enable: false
    redirect: false
    address: http://localhost:8087